.main-area .main-bottom{
    background-color: #EFF3F6;
}

.main-area .main-text{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #000000;
    letter-spacing: 0;
    padding-top: 69px;
    padding-left: 139px;
    width: 50%;
    padding-bottom: 48px;
    
}

.main-area .main-top .top-header{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    padding-left: 140px;
}
.main-area .main-top .top-parag{
font-family: 'Andika New Basic', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
font-size: 18px;
color: #000000;
letter-spacing: 0;
padding-left: 140px;
padding-right: 135px;
}
.main-top{
    padding-bottom: 43px;
}

.main-bottom h2{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: rgba(0,0,0,1);
    letter-spacing: 0;
    padding-top:130px;
    padding-left: 135px;
    padding-bottom: 34px;
}
.main-bottom p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: rgba(0,0,0,1);
    letter-spacing: 0;
    padding-left: 140px;
    padding-bottom: 75px;
   
}
.main-bottom .bottom-image{
    width: 100%;
    padding-top:54px;
    padding-bottom:55px;
    
}
.main-bottom img{
    width: 70%;
}
.main-bottom span{
    font-family: 'Poppins:ital,wght@1,600', sans-serif;
}