.copyright{
    font-size: 10px;
    color: #000000;
    font-family: Poppins-Regular;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.50);
    padding-bottom: 31px;
    padding-top: 29px;
}
.footer-menu{
    padding-bottom: 34px;
    text-align: center;
}

.footer-area .register{
background-color: #EFF3F6;
margin-bottom: 79px;
}

.footer-area .btn{
    background: linear-gradient(to right,#3A7BD5,#00D2FF );
    border: none;
    border-radius: 5px;
    width: 244px;
    height: 66px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.23px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14);
   
}
.footer-area .footer-register-btn{
        padding-top:69px;
        padding-bottom: 61px ;
        padding-right: 144px;
}
.footer-area .register h4{
    color: #3A7CD5 ;
    font-size: 34px;
    font-family:'Poppins', sans-serif;
    padding-left: 146px;
    padding-top: 34px;
    padding-bottom: 16px;
}
.footer-area .register p{
    color: #000000 ;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    padding-left: 146px;
}
.footer-menu-left{
    text-align: left;
}
.footer-menu-left a{
font-size: 11px;
font-family: 'Poppins', sans-serif;
color: #000000 ;
}
.footer-menu-right{
    text-align: right;
    
}
.footer-menu-right a{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    color: #000000 ;
    
    }
   

